.footer {
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  background: #3674c9;
  margin-top: 50px;
}
.footer-span {
  margin: 10px;
  color: white;
}
.fa-copyright {
  margin-right: 5px !important;
}
